//Font Roboto
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
$uniqueFont:'Roboto', sans-serif;

//Sizings
$headlineXxl: 4rem;
$headlineXl: 3rem;
$headlineL: 2.5rem;
$text: 2rem;
$form: 1.8rem;

//Weights
$headlineWeight: 500;
$textWeight: 300;

//Margins
$MarginXXl: 8rem;
$MarginXl: 3rem;
$MarginL: 2rem;
$MarginMd: 1rem;