//Footer Social Media
.redes{
    display: flex;
    margin-top: 2%;
    margin-bottom: 2%;
    justify-content: center;   
}

.icon{
    margin: $MarginMd;
    width: 50%;
    align-items: center;
    }