//Navbar Nesting
nav{
    background-color: $navColor;

    ul{
        width: auto;
        height: 1rem;
        margin-top: 1rem;
        margin-bottom: 3rem;
        margin-left: 40rem;
        padding: 1rem 1rem;
        display: inline-block;

        li{
            font-family: $uniqueFont;
            list-style: none;
            font-size: $headlineXl;
            line-height: 3.2rem;
            display: inline-block;
            background-color: rgba(255, 255, 255, 1);

            a{
              color: $mainColor;
              text-decoration: none;
              margin: 1rem;
              display: inline-block;
            }

            a:hover{
                filter: brightness(1.5);
                color: $mainColor;
            }
        }
    }
}

button svg{
    fill: $mainColor;
}